<html>
  <head>
  <title></title>
  </head>
  <body>

    {%block menu%}
       <ul>
	<li><a href="/">Inicio</a></li>
        <li><a href="/admin">Panel</a></li>
      </ul> 
    {%endblock menu%}
    {%block contenido%}
    <h1>Bienvenidos</h1>
    <h3>Lista de Mensajes</h3> 
    <h4>No de Mensajes: {{contactos | length}} </h4>
    <table border=1 width=80%>
      <tr>
	<th>
	  Nombre Completo
	</th>
      <th>
	Correo
      </th>
      <th>Mensaje
      </th>
    </tr>
    {% for c in contactos %}
    <tr>
      <td>
	{{c.nombre_completo}}
      </td>
      <td>
	{{c.email}}
      </td>
      <td>
	{{c.mensaje}}
      </td> 
    {%endfor%}
    </table>
    {%endblock contenido%}
  </body>


</html>


